* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  letter-spacing: 1px;
  background: #c7d2fe;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  padding: 1rem;
  border-radius: 0.7rem;
}

.img-box {
  width: 31.25rem;
  height: 18.75rem;
  position: relative;
}

.btn {
  background: #1d4ed8;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  user-select: none;
  cursor: pointer;
  padding: 1rem 0;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.btn:hover {
  background: #2563eb;
}

.btn:active {
  transform: scale(0.99);
}

/* Loader */

.loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top: 2px solid #2563eb;
  border-right: 2px solid transparent;
  animation: spiner 0.8s linear infinite;
}

@keyframes spiner {
  to {
    transform: rotate(360deg);
  }
}

/* Responsive */

@media only screen and (max-width: 600px) {
  .img-box,
  .ran-img {
    width: 25rem;
    height: 15rem;
  }
}

@media only screen and (max-width: 460px) {
  .img-box,
  .ran-img {
    width: 20rem;
    height: 12rem;
  }
}

@media only screen and (max-width: 380px) {
  .img-box,
  .ran-img {
    width: 15rem;
    height: 8rem;
  }
}
